.parallax-container {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url("/images/Parallax.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto parallax */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  text-align: center;
  z-index: 1;
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 50px;
  margin-top: 0;
}

.titulo {
  font-size: 50px;
  color: #fece06;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.subtitulo {
  font-size: 28px;
  color: #fece06;
}
